<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <title>STIMA 3.0</title>
</head>
<body>
    <img src="" alt="">
    <nav class="navbar navbar-expand-lg fixed-top py-3" style="font-family: Raleway;">
        <a class="navbar-brand" href="/" style="color:#c0b2a8; font-weight: 800; font-size:x-large;">STIMA 3.0</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="logo-container">
                    <img src="/image/coffee_logo.png" id="logo">
                    <div class="btn-logo">
                        <input id="chat-logo" type="image" src="/image/chat-logo.png" />
                        <input id="about-us-logo" type="image" src="/image/about-us.png" />
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="chat-container">
                    <div class="chat-header">
                        <img src="/image/bot_logo.jpg" id="bot-logo">
                        <p><b>Coffee-Bot</b></p>
                    </div>
                    <div class="chatbox">
                        <div class="chatlogs">
                            <!-- Javascript Process -->
                        </div>
                        <div class="chat-form">
                            <textarea name="textInput" spellcheck='false' autocorrect='off'></textarea>
                            <input class="submit" type="image" src="/image/send_icon.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row about-us">
            <h1>About Us</h1>
        </div>
        <div class="row profile">
            <div class="col-sm">
                <div class="person">
                    <img src="/image/person-1.JPG">
                    <p id="name">Christopher Justine William</p>
                    <p id="nim">13519006</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="person">
                    <img src="/image/person-2.JPG">
                    <p id="name">Nicholas Chen</p>
                    <p id="nim">13519029</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="person">
                    <img src="/image/person-3.JPG">
                    <p id="name">Jordan Daniel Joshua</p>
                    <p id="nim">13519098</p>
                </div>
            </div>
        </div>
        <div class="row footer">
            <input id="scroll-up" type="image" src="/image/swipe-up.png" />
            <p>2021 Coffe-Bot @ Tubes 3 Strategi Algoritma</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>
</html>